<div class="section group">
<div class="col span_4_of_4">
<h1>About</h1>
<p>Hi, I hope you like the new look of this site.</p>
<p>The site should now support mobile phones and tablets.</p>
<h2>To be added in the future:</h2>
<ul><li>New design and look</li>
<li>Responsive. (scales on all screen sizes)</li>
<li>Save schedules to a link (napchart.com/*)</li>
<li>Removed the availability to write text on sleep and nap elements</li>
</ul>

<h2>Changelog:</h2>
<h3>Napchart.com v5 beta (current):</h3>
<ul><li>New design and look</li>
<li>Responsive. (scales on all screen sizes)</li>
<li>Save schedules to a link (napchart.com/*)</li>
<li>Removed the availability to write text on sleep and nap elements</li>
</ul>

<h3>Napchart.com v4 beta:</h3>
<ul><li>New design and look</li>
<li>Improved performance and code</li>
<li><del>Added a save feature</del><ins> Had to temporarily disable it.</ins></li>
</ul>

<h3>Napchart.com v0.3 alpha:</h3>
<ul>
<li>Changed work and activities into busy times. This is the time you can't nap or sleep</li>
<li>Core and naps are draggable</li>
<li>Drag all sleep simultaneously by checking checkbox</li>
<li>Label to write information about sleep or busy time</li>
</ul>
</div></div>
