
<% if(chartid && chart){ %>

<script>
fromServer = {};
fromServer.chartid = '<%= chartid %>';
fromServer.data = <%- chart %>;
</script>

<% } %>

<div class="row">
	<div class="col s12 m12 l2" id="toolbar">
		<div class="waves-effect waves-light red btn" id="addNap">Nap</div>
		<div class="waves-effect waves-light red btn" id="addCore">Core</div>
		<div class="waves-effect waves-light grey darken-3 btn" id="addBusy">Busy</div>
        <div id="removeAll" class="btn-flat waves-effect">Remove all</div>


	</div>

	<div class="col s12 m7 l6">
		<canvas width="330" height="330" id="canvas">
		</canvas>
		<!--<canvas width="330" height="330" id="canvas">
		</canvas>-->
	</div>

	<div class="col s12 m5 l4">
		<div id="formInputContainer"></div>

		<div class="card stat-block left">
			<div class="card-headline">Sleep time</div>
			<div class="inner-card">
				<span class="stat-time sleep"></span>
				<div class="stat-desc sleep"></div>
			</div>
		</div>

		<!--<div class="card stat-block left">
			<div class="card-headline">Free time</div>
			<div class="inner-card">
				<span class="stat-time free"></span>
				<div class="stat-desc free"></div>
			</div>
		</div>-->

		<div class="card stat-block left">
			<div class="card-headline">Schedule:</div>
			<div class="inner-card">
				<textarea id="textSchedule"></textarea>
			</div>
		</div>

		<div class="card stat-block left feedback" id="feedback-card">
			
			<div class="card-headline">
				<div class="step step-1">Did this app work for you?</div>
				<div class="step step-2 step-3">Thank you for your feedback</div>
			</div>
			

			<div class="inner-card">
				<div class="step step-1">
					<input type="radio" name="feedback" class="trigger feedback-radio" id="yes" value="yes"> <label for="yes">Yes</label>
					<br>
					<input type="radio" name="feedback" class="trigger feedback-radio" id="no" value="no"> <label for="no">No</label>
				</div>

				<div class="step step-2">
					[insert share buttons here]
				</div>
			</div>

			
			
		</div>



		
	</div>
</div>

