
<% if(chartid && chart){ %>

<script>
fromServer = {};
fromServer.chartid = '<%= chartid %>';
fromServer.data = <%- chart %>;
</script>

<% } %>

<div class="row">
	<div class="col s12 m12 l12" id="toolbar">
		<div class="waves-effect grey lighten-1 btn-flat black-text" id="addNap">Nap <i class="fa fa-plus-square-o"></i></div>
		<div class="waves-effect grey lighten-1 btn-flat black-text" id="addCore">Core <i class="fa fa-plus-square-o"></i></div>
		<div class="waves-effect waves-light grey darken-3 btn-flat white-text" id="addBusy">Busy <i class="fa fa-plus-square-o"></i></div>
		<div id="removeAll" class="btn-flat waves-effect">Remove all <i class="fa fa-square-o"></i></div>


	</div>

	<div class="col s12 m7 l7">
		<canvas width="330" height="330" id="canvas">
		</canvas>
		<!--<canvas width="330" height="330" id="canvas">
	</canvas>-->
	</div>

	<div class="col s12 m5 l5">
		<div id="formInputContainer"></div>

		<div class="card stat-block left">
			<div class="card-headline">Sleep time</div>
			<div class="inner-card">
				<span class="stat-time sleep"></span>
				<div class="stat-desc sleep"></div>
			</div>
		</div>

		<!--<div class="card stat-block left">
			<div class="card-headline">Free time</div>
			<div class="inner-card">
				<span class="stat-time free"></span>
				<div class="stat-desc free"></div>
			</div>
		</div>-->

		<div class="card stat-block left">
			<div class="card-headline">Schedule:</div>
			<div class="inner-card">
				<textarea  id="textSchedule" rows="4"  readonly></textarea>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col s12 m6 l4">
		<div class="card stat-block" id="settings">
			<div class="card-headline">Settings</div>
			<div class="inner-card">
				
				<!-- <div class="switch">
				    <label>
				    Link sleep
				      <input type="checkbox" id="moveSim">
				      <span class="lever"></span>
				    </label>
				</div>
				
				<div class="switch">
				    <label>
				    Dark-mode
				      <input type="checkbox" id="dark">
				      <span class="lever"></span>
				    </label>
				</div> -->

				<div class="switch">
				    <label>
				    Show all elements
				      <input type="checkbox" id="showAllElements">
				      <span class="lever"></span>
				    </label>
				</div>


			</div>
		</div>
	</div>

	<div class="col s12 m6 l4 right">

		<div class="card stat-block left feedback" id="feedback-card">

			<div class="card-headline">
				<div id="question">Did this app work for you?</div>
				<div id="thankyou" class="hidden">Thank you for your feedback</div>
				<div id="feedback-error" class="hidden">Something went wrong. Please try again</div>
			</div>


			<div class="inner-card">
				<div id="feedback-question">
					<input type="radio" name="feedback" class="trigger feedback-radio" id="yes" value="yes"> <label for="yes">Yes</label>
					<br>
					<input type="radio" name="feedback" class="trigger feedback-radio" id="no" value="no"> <label for="no">No</label>
				</div>
			</div>

			<div class="card-headline">
				<div id="feedback-text-question" class="hidden">Issues, ideas or compliments:</div>
			</div>

			<div class="inner-card">
				<div id="feedback-text">
					<textarea></textarea>
					<div id="send-feedback" class="btn-flat grey lighten-2 waves-effect">Send
						<i class="fa fa-hand-o-right arm"></i>
						<i class="fa fa-refresh fa-spin loading-wheel"></i>
					</div>
					<span id="feedback-devthanks" class="hidden">Thank you!</span>
				</div>
			</div>

		</div>
	</div>


	<div class="col s12 m12 l4">
		<div class="card stat-block">
			<div class="card-headline">About</div>
			<div class="inner-card">
				<p>
					Napchart is a tool created for people that want to experiment with polyphasic sleep.
				</p>

				<!-- <div class="btn-flat grey lighten-2 waves-effect"><i class="fa fa-paypal"></i>aypal</div>
				<br />
				<div class="btn-flat grey lighten-2 waves-effect"><i class="fa fa-btc"></i>itCoin</div>
 -->

 				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
 				<input type="hidden" name="cmd" value="_s-xclick">
 				<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAVP4I4pnFp98ulkidqghdOZHokHESIJc8grfv2fPVhXo7eo3PTGOpmOSPS6oeGwNp4CTj+jdx1bp+lhrGfV/FxHz8Tq/RejDO1FryOUfahHLuZ7W2Tcsygx27IE820iJB6KwZW1O0kXEFmvn7dgRoNkkVWVdD1d6IEbkrOd+QX1TELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI34E5rRevfQWAgYgSUrd6KeoZP+8wBXkw547dcy2Wl+YhaIc21C9zrzlkqc5Q7ddXzQN8oqTzi1iMK9f4rAS9szCLp6++c9qhQ32H3y54lJd+mibDUNRSwci79UNOuU0+Iyc/RWkdtmw5kxsgfxVL4Gr/4EQ6WAAgnzpVyHO80/WeuCHEYUX7Gjn5Acb1rtMr1ZXCoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwOTA4MDg1NjIwWjAjBgkqhkiG9w0BCQQxFgQUZC1g0XCRHaxQ1O26LG7nTq67gbYwDQYJKoZIhvcNAQEBBQAEgYBL9c6B/xwgIm4XUtVznF5AaOuWPZcMVdpM55HZ2F71fGNLYLzukYAPfwf0G4f3EmWq0z7usY7iYvxfKeX0CcWOEWlu80o5KXa2nfswPVTSdrnHSbtpeo/ay4NkzqSijtFHq1R+XzmyzV42J5DxQCQsSkye+W5rO+pn0KoJRqrEvg==-----END PKCS7-----
 				">
 				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
 				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
 				</form>



				<script src="http://coinwidget.com/widget/coin.js"></script>
				<script>
				CoinWidgetCom.go({
					wallet_address: "3BmHER1uxPyptxQvobMkn5mQ9FwuvGtaSr"
					, currency: "bitcoin"
					, counter: "hide"
					, alignment: "bc"
					, qrcode: true
					, auto_show: false
					, lbl_button: "Donate"
					, lbl_address: "My Bitcoin Address:"
					, lbl_count: "donations"
					, lbl_amount: "BTC"
				});
				</script>

			</div>
		</div>
	</div>



</div>
