
<% if(chartid && chart){ %>

<script>
fromServer = {};
fromServer.chartid = '<%= chartid %>';
fromServer.data = <%- chart %>;
</script>

<% } %>

<div class="row">
	<div class="col s12 m12 l12" id="toolbar">
		<div class="waves-effect grey lighten-1 btn-flat black-text" id="addNap">Nap <i class="fa fa-plus-square-o"></i></div>
		<div class="waves-effect grey lighten-1 btn-flat black-text" id="addCore">Core <i class="fa fa-plus-square-o"></i></div>
		<div class="waves-effect waves-light grey darken-3 btn-flat white-text" id="addBusy">Busy <i class="fa fa-plus-square-o"></i></div>
		<div id="removeAll" class="btn-flat waves-effect">Remove all <i class="fa fa-square-o"></i></div>


	</div>

	<div class="col s12 m7 l7">
		<canvas width="330" height="330" id="canvas">
		</canvas>
		<!--<canvas width="330" height="330" id="canvas">
	</canvas>-->
	</div>

	<div class="col s12 m5 l5">
		<div id="formInputContainer"></div>

		<div class="card stat-block left">
			<div class="card-headline">Sleep time</div>
			<div class="inner-card">
				<span class="stat-time sleep"></span>
				<div class="stat-desc sleep"></div>
			</div>
		</div>

		<!--<div class="card stat-block left">
			<div class="card-headline">Free time</div>
			<div class="inner-card">
				<span class="stat-time free"></span>
				<div class="stat-desc free"></div>
			</div>
		</div>-->

		<div class="card stat-block left">
			<div class="card-headline">Schedule:</div>
			<div class="inner-card">
				<textarea id="textSchedule" readonly></textarea>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col s12 m4 l4">
		<div class="card stat-block">
			<div class="card-headline">Settings</div>
			<div class="inner-card">
				
				<div class="switch">
				    <label>
				    Link sleep
				      <input type="checkbox" id="moveSim">
				      <span class="lever"></span>
				    </label>
				</div>
				
				<div class="switch">
				    <label>
				    Dark-mode
				      <input type="checkbox" id="dark">
				      <span class="lever"></span>
				    </label>
				</div>

				<div class="switch">
				    <label>
				    Show all elements
				      <input type="checkbox" id="dark">
				      <span class="lever"></span>
				    </label>
				</div>


			</div>
		</div>
	</div>

	<div class="col s12 m4 l4">
		<div class="card stat-block">
			<div class="card-headline">About</div>
			<div class="inner-card">
				<p>
					Napchart is a tool created for people that want to experiment with polyphasic sleep.
				</p>

				<script src="http://coinwidget.com/widget/coin.js"></script>
				<script>
				CoinWidgetCom.go({
					wallet_address: "3BmHER1uxPyptxQvobMkn5mQ9FwuvGtaSr"
					, currency: "bitcoin"
					, counter: "count"
					, alignment: "bc"
					, qrcode: true
					, auto_show: false
					, lbl_button: "Donate"
					, lbl_address: "My Bitcoin Address:"
					, lbl_count: "donations"
					, lbl_amount: "BTC"
				});
				</script>

			</div>
		</div>
	</div>


	<div class="col s12 m4 l4">

		<div class="card stat-block left feedback" id="feedback-card">

			<div class="card-headline">
				<div id="question">Did this app work for you?</div>
				<div id="thankyou" class="hidden">Thank you for your feedback</div>
				<div id="feedback-error" class="hidden">Something went wrong. Please try again</div>
			</div>


			<div class="inner-card">
				<div id="feedback-question">
					<input type="radio" name="feedback" class="trigger feedback-radio" id="yes" value="yes"> <label for="yes">Yes</label>
					<br>
					<input type="radio" name="feedback" class="trigger feedback-radio" id="no" value="no"> <label for="no">No</label>
				</div>
			</div>

			<div class="card-headline">
				<div id="feedback-text-question" class="hidden">Issues, ideas or compliments:</div>
			</div>

			<div class="inner-card">
				<div id="feedback-text">
					<textarea></textarea>
					<div id="send-feedback" class="btn-flat grey lighten-2 waves-effect">Send
						<i class="fa fa-hand-o-right arm"></i>
						<i class="fa fa-refresh fa-spin loading-wheel"></i>
					</div>
					<span id="feedback-devthanks" class="hidden">Thank you!</span>
				</div>
			</div>

		</div>
	</div>
</div>
