<footer class="page-footer red">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
Napchart is a tool created for people that want to experiment with polyphasic sleep. Use at own risk.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4" href="https://github.com/larskarbo/napchart">Github</a>
            <!--<a class="grey-text text-lighten-4 right" href="#!">wowoowows</a>-->
            </div>
          </div>
</footer>