<footer class="page-footer red">
            <div class="container">
            <a class="grey-text text-lighten-4" href="https://github.com/larskarbo/napchart">Github</a>
            <!--<a class="grey-text text-lighten-4 right" href="#!">wowoowows</a>-->
            </div>
            <br />
</footer>