<footer class="page-footer red">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
Created by me. Thanks to everyone who has given feedback. You can find me at reddit or twitter or even real life. Contact at own risk.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Github
            <a class="grey-text text-lighten-4 right" href="#!">wowoowows</a>
            </div>
          </div>
</footer>