.Element{
	width:100%;
	padding:10px;
	z-index:4
}

.button{
	background: white;
    border: solid 1px #d2d2d2;
    margin: 2px;
    padding: 3px;
    outline: none;
    cursor: pointer;

    &.active {
    	background: #e4dbdb;
    	cursor: default
    }
}

.mdi-icon {
	fill: #888888;
	width: 14px;
	height: 14px;
}

.TypeElement{
	width:100%;
	// height:50px;
	margin-bottom: 8px;
	padding: 0 4px;
	font-weight: 500;
	.colorSquare{
		width:13px;
		height: 13px;
		margin-right: 4px;
		display: none
	}
	.options {
		// visibility: hidden;
	}
	.mdi-icon {
		fill: #888888;
		width: 20px;
		height: 20px;
		cursor: pointer;
		&:hover {
			fill: #404040
		}
	}

	&:hover {
		.options {
			visibility: visible;
		}
	}


	text-align:left;
	.type {
		// font-weight: bold;
		padding: 6px 4px 2px
	}
	.time {
		padding: 2px 4px
	}

	input {
		width:90px
	}

	&.dragging {
		border: dashed 3px orange
	}

	

	.add {
		float:right;
		width:40px;
		height:40px;
		.mdi-icon {
			width: 100%;
			height: 100%
		}
	}

	&.hover {
		box-shadow: 0 0 5px gray;
		cursor: pointer
	}

	.smallColorBox {
		width: 28px;
		height: 28px;
		margin-right: 7px;
		border-radius: 28px;
		display: inline-block;
		animation: fade 0.4s;
	}
}

.sidebar {
	background: white;
	width:200px;
	position:absolute;
	top:$header-height;
	padding: 20px 10px;
	bottom: 0;
	overflow-y: auto
}

.metaInfo {
	input[type=text], textarea{
		width: 100%;
		margin-bottom: 12px;
		border: none;
		border-bottom: #eaeaea 1px solid;
		resize:none;
		padding-left: 3px;
		padding-bottom: 5px;
		font-family: "Segoe UI";
		outline: none;
		box-sizing: border-box;

		&:focus {
			border-bottom:#6dade4 2px solid;
		}
	}
}

.mainChartArea {
	width: 100%;
	height: 100vw;

	#resizer {
		width: 100%;
		height: 100%;
	}

	@media all and (min-width: 600px) {
		padding-left: 200px;
		height: calc(100vh - 50px);
	}
}

.padding{
	padding: 0 14px;
}

.toggler {
	height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin: 0 -10px;
    font-weight: 400;
    position: relative;
    text-align: left;
    cursor: pointer;
    text-decoration: none;

    &.active {
    	font-weight: bold;
    }

    &:hover {
    	border-right: solid 3px #1C90F3;
    	padding-right: 7px;
    }
}

.selectedElement {
	width: 100%;

	&:focus {
		width: calc(100% - 30px)
	}
}

.expandable {
	// height: 0;
	// overflow: hidden;
	// transition: height 0.4s;
	display: none;

	&.active {
		display: block
	}

	padding-bottom: 20px
}


