.Element{
	width:100%;
	padding:10px;
	z-index:4
}

.Button{
	background: #e4dbdb;
    border: solid 1px grey;
    margin: 2px;
}

.TypeElement{
	width:200px;
	height:50px;
	margin-bottom: 8px;

	.colorSquare{
		float:left;
		width:30px;
		height: 30px;
		margin: 10px;
	}


	text-align:left;
	.type {
		font-weight: bold;
		padding: 2px 4px
	}
	.time {
		padding: 2px 4px
	}

	input {
		width:130px
	}

	&.dragging {
		border: dashed 3px orange
	}
}

.sidebar {
	background: white;
	width:200px;
	position:absolute;
	top:$header-height;
	bottom: 0
}

.mainChartArea {
	padding-left: 200px;
	width: 100%;
	height: calc(100vh - 50px);

	#resizer {
		width: 100%;
		height: 100%;
	}
}



.colorSquare {
	width: 15px;
	height: 15px;
	margin-right:5px;
	display: inline-block;
	&.red{background:red};
	&.blue{background:blue};
	&.gray{background:gray};
	&.green{background:green};
	&.yellow{background:yellow};
	&.red{background:red};
}