.Element{
	width:100%;
	padding:10px;
	z-index:4
}

.Button{
	background: #e4dbdb;
    border: solid 1px grey;
    margin: 2px;
}

.sidebar {
	background: white;
	height: 100vh;
	width:200px
}

.colorSquare {
	width: 15px;
	height: 15px;
	margin-right:500px;
	display: inline-block;
	&.red{background:red};
	&.blue{background:blue};
	&.gray{background:gray};
	&.green{background:green};
	&.yellow{background:yellow};
	&.red{background:red};
}