@charset "utf-8";
/* CSS Document */

/*

1.0   Standardar og sånt

2.0   Main layout. Gridsystem

3.0   Header

4.0   Adderknappar

5.0   Schedule chooser

6.0   Canvas

7.0   Forminput

8.0   Statistics

9.0   Footer

10.0  Debugger

11.0 Sidebars
*/


/**************************
1.0   Standardar og sånt
*******************/
html{
	font-size: 62.5%;
    margin:0;padding:0;height: 100%;
}
body,
button,
input,
select,
textarea {
	color: black;
	color: hsl(0, 0%, 0%);
	font-size: 1.3rem;
	line-height: 1.5;
    font-family: 'Roboto', sans-serif;
	margin:0;padding:0;height:100%;
}
body{
	background-color:#F4F4F4;
	margin:0;
}
::selection {
  background: #d3d3d3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #d3d3d3; /* Gecko Browsers */
}

.button {
    font-size: 16px;
    outline: none;
    cursor:pointer;
    background-color:#dbdbdb;
    padding: 4px;
    margin-bottom: 3px;
    border:none;
    
}

.button:hover {
    background-color:#d1d1d1;
}
.button:active {
    background-color:#b36565;
}

/**************************
2.0   Main layout. Gridsystem
*******************/
.wrapper {
  heilght: 100%;
max-width:1000px;
  margin: 0 auto;
position: relative;
overflow-x: hidden;
}
.menumoverViewport{
width: 100%;
height: 100%;
position: relative;
-webkit-transform: translateX(0);
transform: translateX(0);
-webkit-transition: .3s ease all;
transition: .3s ease all;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}


.col {
	display: block;
	float:left;
	margin: 1% 0 0% 1.6%;
	
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}
#canvasCont{
	/*height:100%; SET IN JAVASCRIPT*/
}

#smallscreen{
	display:none;
}
@media screen and (max-width:1000px) {
	#canvasCont{
	width: 60.0%;
	}
	#controlPanelColumn{
	width: 33.0%;
	}
}

@media screen and (max-width: 630px) {

	
	#canvasCont{
	width: 100.0%;
	}
	}

/**************************
3.0   Header
*******************/
#messageBar{
width:100%;
background-color:#d7d7d7;
    border-bottom: 3px solid #666666;
height:80px;
line-height:80px;
vertical-align:middle;
}

#innerMessageBar{
max-width:1000px;
margin:auto;
padding:0 10px;
text-align:center;
}

#logo {
    font-size: 34px;
    font-family:Tahoma;
    letter-spacing: 4px;
    float:left;
}
#logo>a:link,#logo>a:visited {
    color:#a82828;
	text-decoration: none;
}


#logo>a:hover {
}

#logo>a:active {
    color:#7a1919;
}


#saveform {
    display: inline-block;
    margin:0 auto;
    line-height: 28px;
	vertical-align: middle;
    color:#161616;
}

#savebutton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25px;
    font-family: "Roboto";
    float:left;
    padding: 4px;
    background-color: #d7d7d7;
    margin-right: 10px;
    cursor:pointer;
    border:1px solid #7f7f7f;
}
#savebutton:hover{
    background-color:#bfbfbf;
}
#savebutton:active{
    background-color:#a27676;
}
#savebutton > i{
    font-size: 20px;
    margin-right: 4px;
}

#saveURL {
	visibility:hidden;
	width:0;
    background:rgb(237,237,237);
    border: 1px solid black;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
    padding:8px;
    color:black;
	float: left;
}
#saveURL:focus {
    color:#cb2929;
    outline-color: #cc2828;
}
#copyLink {
	cursor: pointer;
	float:left;
    font-size: 21px;
    padding: 4px;
    background-color: #d7d7d7;
    border:1px solid black;
	display:none;
	border-left:none;
}
@media screen and (max-width:750px) {
	#copyLink{
		visibility:hidden;
	}
}
#copyLink.zeroclipboard-is-active{
	background-color:#c9c9c9;
}

#shareButtons {
    font-size: 30px;
    letter-spacing: 6px;
    float:right;
}
#shareButtons > a:link,a:visited{
    text-decoration: none;
    color:#2c2c2c;
}
 #shareButtons > a:active {
    color:#ee0101;
}
 #shareButtons > a:hover {
    color:#c11414;
}
@media screen and (max-width: 660px){
    #shareButtons{
        display: none;
    }
    
}
@media screen and (max-width: 630px){
#logo {
    font-size: 18px;
    font-weight: 900;
    letter-spacing:normal;
    float:none;
    display: block;
    line-height: 15px;
}
    #saveform{
        vertical-align: top;
    }
    #messageBar{
        height: 60px;   
    }
}



/**************************
4.0   Adderknappar
*******************/


.adderButton {
    display: inline-block;
    background-color: #d7d7d7;
    padding: 6px;
    text-align: center;
	cursor:default;
}
.adderButton:first-of-type{
    margin-right: 10px;   
}
.adderButton:active{
	
    background-color: #666666;
}

.adderTitle {
    font-size:2.4rem;
    font-family: "Roboto";
    display: block;
    line-height: normal;
}

.adderDesc {
    font-size: 1rem;
    font-family: Tahoma;
    font-weight: medium;
}

#adderContainer {
    text-align: center;
    margin-bottom: 10px;
}
/**************************
5.0   Schedule chooser
*******************/
#sampleSchedules{
	position:relative;
}
.schedule{
z-index:5;
	position:relative;

    font-size: 16px;
    cursor:pointer;
    padding: 6px;
    margin-bottom: 3px;
	width:90%;
}
#sampleScheduleActive{
display:none;
position:absolute;
width:90%;
z-index:0;
    background-color:#e1c5c5;
    font-size: 16px;
    cursor:pointer;
    padding: 6px;
	height:24px;
    margin-bottom: 3px;
}

.schedule:hover {
    background-color:#dbdbdb;
}
.schedule:active {
    background-color:#b36565;
    border:none;
}
/**************************
6.0   Canvas
*******************/
#clockCanvas, #myCanvas{

	left:0px;
	top:0x;
}
#clockCanvas{
	position:absolute;
	}
#myCanvas{
	position:relative;
	}
#canvasInnerCont{
position:relative;
}
#textDomContainer{
}
.textDom{
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:11;
	white-space: nowrap;
}
.timeHandles{
}
.descriptionText{
	font-size:20px;
}
.descriptionText.alfa{
color:#1f1f1f;
}
.descriptionText.charlie,.descriptionText.delta{
color:#c70e0e;
}
.durationText{
    color:#dc1818;
    font-size: 16px;
}
.durationText.delta{
	background-color:#E8C8C8;
	padding:2px;
}
.durationText.alfa{
	color:black;
}
/**************************
7.0   Forminput
*******************/
.inputBox{
    font-size: 16px;
    outline: none;
    padding: 6px;
    margin-bottom: 3px;
    display:none;
}
.inputBox.selected,.inputBox.selected:hover{
    background-color:#FAF7A2;
    display:block;
}
.inputBox:hover{
    background-color:#dbdbdb;
}

#controlPanelColumn>input,div,button{
	/*for å hindre at dei inherita heighta til den automatisk resiza parenten*/
	height:auto;
}
.remove {
    font-size: 16px;
    outline: none;
    padding: 2px;
    margin-left:6px;
    background-color: #bababa;
    border:none;
}
.remove:hover{
    background-color: #cfa0a0;
}
.remove:active{
    background-color: #c57171;
}

input.clockFormatOK{
	background-color:white;
	//box-shadow:0 0 8px #89b865;
}
input.clockFormatBad{
	background-color:red;
	box-shadow:0 0 8px #880b0b;
}
input.clock:focus{
	outline: 2px solid grey;
}
input.clock{
	width:30px;
	height:15px;
	background-color:#F4F4F4;
	border:1px solid #999;
	padding:5px;
}
input.desc{
	width:60px;
	height:15px;
	background-color:#F4F4F4;
	border:1px solid #999;
	padding:2px;
}

/**************************
8.0   Statistics
*******************/
.stat-block{
float:left;
width:25%;
border-left:5px solid grey;
padding:5px;
}
.stat-title{
font-size:15px;
}
.stat-time{
font-size:30px;
padding-left:15px;
}
.stat-desc{

}
/**************************
9.0   Footer
*******************/
#footer{
width:100%;
   background: #6d6d6d;
    border-top: 3px solid #666666;
    color:white;
    margin-top:10px;
vertical-align:middle;
}
#innerFooter{
max-width:1000px;
margin:auto;
padding:8px;
text-align:center;
}
/**************************
10.0   Debugger
*******************/
div#debugger{
	position:fixed;
	width:0px;
	height:0px;
	background-color:#666;
	bottom:0px;
	right:0px;
	color:white;
	z-index:10;
	word-wrap: break-word;
	}

/**************************
11.0   Sidebar
*******************/
#controlPanelColumn{
	min-width: 225px;
}
#leftColumn{
}
.wrapper.show-nav-left .menumoverViewport {
-webkit-transform: translateX(200px);
transform: translateX(200px);
}
.wrapper.show-nav-right .menumoverViewport {
-webkit-transform: translateX(-225px);
transform: translateX(-225px);
}
#toggleRight,#toggleLeft{
	display:none;
	background: #575555;
	color: white;
	padding: 10px;
	user-select: none;
	cursor:default;
	z-index:10
}
@media screen and (max-width:1000px) {
#toggleLeft{
	display:block;
	position: absolute;
	left:0;
	top:0;
}	
	#leftColumn{
	position:absolute;
	top: 0;
left: -200px;
		width:200px;
	backg/round: #212121;
}
	#smallscreen{
		height:20px;
		display:block;
	}
}
@media screen and (max-width:630px) {
#toggleRight{
	display:block;
	position: absolute;
	right:0;
	top:0;
}
	#controlPanelColumn{
	position:absolute;
	top: 0;
right: -225px;
	//b/ackground: #212121;
	}
}
/**************************
Takk for at du las lars sin stylesheet
*******************/


