@charset "utf-8";
/* CSS Document */

/*

1.0   Standardar og sånt

2.0   Main layout. Gridsystem

3.0   Header

4.0   Sharewindow

5.0   Toolbar

6.0   Feedback

7.0   Forminput

8.0   Statistics

9.0   Footer

10.0  Debugger

11.0 Sidebars
*/


/**************************
1.0 
*******************/

body{
	background-color:#F4F4F4;
	margin:0;
}

body,
button,
input,
select,
textarea {
	color: black;
	color: hsl(0, 0%, 0%);
	font-size: 1.3rem;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	margin:0;padding:0;height:100%;
}

p,.list li{
	font-size: 15px
}

::selection {
	background: #d3d3d3; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #d3d3d3; /* Gecko Browsers */
}

.row {
	max-width: 1000px;
}


.flash{

	-moz-animation: flash 1s ease-out;
	-moz-animation-iteration-count: 1;

	-webkit-animation: flash 1s ease-out;
	-webkit-animation-iteration-count: 1;

	-ms-animation: flash 1s ease-out;
	-ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
	0% { background-color:#fbf8b2;}
	50% { background-color:#fbf8b2;}        
	100% {background-color:none;}
}

@-moz-keyframes flash {
	0% { background-color:none;}
	50% { background-color:#fbf8b2;}        
	100% {background-color:none;}
}

@-ms-keyframes flash {
	0% { background-color:#fbf8b2;}
	50% { background-color:#fbf8b2;}        
	100% {background-color:none;}
}


/**************************
3.0   Header
*******************/
.topnav {
	padding:10px;
	vertical-align: middle;
}

.history.btn {
	padding:0 1rem;
}
.history.btn.disabled {
	
	padding:0 1rem;
}

#logo {
	display:inline-block;
	font-size: 24px;
	font-family:Tahoma;
	letter-spacing: 4px;
}

#logo>a:link,#logo>a:visited {
	color:white;
	text-decoration: none;
}

#logo>a:hover {
}

#logo>a:active {
	color:#7a1919;
}

#urlField {
	width:0;
	background:rgb(237,237,237);
	border: 1px solid black;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	padding:5px;
	color:black;
	height:auto;
	margin:20px 0 0;
	display:none;
}

#urlField.loading {
	color:grey;
}

#urlField:focus {
	color:#cb2929;
	outline-color: #cc2828;
}

.list li{
	list-style-type: disc;
}
.list {
	padding-left: 14px
}

.transparent{
	background: transparent !important;
	box-shadow: none !important;
}

/**************************
4.0   Share Window
*******************/
#overlay {
	display:none;
	z-index:20;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;

	background-color:rgba(0,0,0,0.75);
}
#shareWindow {
	margin:100px auto;
	width:80%;
	padding:20px;
}

.chart-preview {
}


/**************************
Schedule chooser
*******************/
#sampleSchedules{
	position:relative;
}
.sampleSchedule{
	position:relative;
	font-size: 16px;
	cursor:pointer;
	padding: 6px;
	margin-bottom: 3px;
}

#scheduleIndicator{
	display:none;
	position:absolute;
	width: 100%;
	z-index:0;
	background-color:#e1c5c5;
	font-size: 16px;
	cursor:pointer;
	padding: 6px;
	height:36px;
	margin-bottom: 3px;
}

.sampleSchedule:hover {
	background-color:#dbdbdb;
}
.sampleSchedule.selected:hover {
	background-color:#e1c5c5;
}
.sampleSchedule:active {
	background-color:#b36565;
	border:none;
}

@media (max-width: 600px) {
  #sampleSchedules {
    display: none;
  }
}


/**************************
5.0   Toolbar
*******************/
#toolbar{
	padding-top:4px;
}

/**************************
6.0   Feedback
*******************/
#feedback-card p{
	margin-top:0px;
	margin-bottom:5px;
}
#feedback-text{
	display:none;
}
.hidden{
	display:none;
}
#feedback-card textarea{
	font-size:16px;
}
/**************************
7.0   Forminput
*******************/
.inputBox{
	background-color:transparent;
	font-size: 16px;
	outline: none;
	padding: 6px;
	margin-bottom: 3px;
}
.inputBox.selected,.inputBox.selected:hover{
	background-color:#FAF7A2;
	display:block;
}
.inputBox:hover{
	background-color:#dbdbdb;
}

.remove {
	font-size: 16px;
	outline: none;
	padding: 2px;
	margin-left:6px;
	background-color: #bababa;
	border:none;
}
.remove:hover{
	background-color: #cfa0a0;
}
.remove:active{
	background-color: #c57171;
}

.formInput[type=text], .formInput[type=number]{
	background-color: white;
	margin: 0;
	border: solid black thin;
	border-bottom: solid black thin;
	padding: 0;
	height: 1.5rem;
}

.clock[type=text]{
	width:50px;
}

.duration[type=number]{
	width:40px;
}


/**************************
8.0   Statistics
*******************/
.stat-block{
	padding:5px;
	width:100%;
}

.stat-time{
	font-size:30px;
}

#textSchedule{
	font-size: 12px;
	resize:none;
	height: auto;
}

/**************************
10.0   Cards
*******************/
.card-headline{
	font-size:15px;
}
.inner-card{
	padding:5px 15px;
}

/**************************
10.0   Debugger
*******************/
div#debugger{
	position:fixed;
	width:0px;
	height:0px;
	background-color:#666;
	bottom:0px;
	right:0px;
	color:white;
	z-index:10;
	word-wrap: break-word;
}

/**************************
11.0   Settings
*******************/
.settingsElement:not(:first-child){
	padding-top: 10px
}

/**************************
Thank you for reading this stylesheet
*******************/


