<!DOCTYPE html>
<html ng-app='napchart'>
<head>
<% include ../partials/head.ejs %>
</head>

<body>
    <div id="debugger"></div>
<script>
window.ga=function(){};
</script>

<div id="messageBar">
<div id="innerMessageBar">

	<span id="logo"><a href="/">napchart</a></span>
<div id="saveform">
<div id="savebutton"><i id="saveicon" class="fa fa-link"></i>save</div>
<input spellcheck="false" value="napchart.com/fT6Ty" type="text" id="saveURL">
	<div id="copyLink"><i id="copyLinkIcon" class="fa fa-copy"></i></div>
    </div>
    
    <span id="shareButtons">
    <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </span>
    

<div class"shareButtons"></div>

</div>
</div>



</div>



<div id="wrapper-id" class="wrapper">
    <!-- wraps around all elements-->
	


	<% include ../../public/partials/chart.html %>

</div>
    <div id="footer">
<div id="innerFooter">
<script>
//obj=<%= chartid %>;
</script>
Created by me. Thanks to everyone who has given feedback. You can find me at reddit or twitter or even real life. Contact at own risk.
</div>
</div>


<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/controllers.js"></script>
<script src="../../js/jquery-1.11.1.js?v=0.5"></script>
<script src="../../js/hidpi-canvas.min.js"></script>
<script src="../../js/helpers.js"></script>
<script src="../../js/declarations.js?v=0.5"></script>
<script src="../../js/standalonefunctions.js?v=0.5"></script>
<script src="../../js/inputhandler.js?v=0.5"></script>
<script src="../../js/dynamics.js?v=0.5"></script>
<script src="../../js/interactCanvas.js?v=0.5"></script>
<script src="../../js/statistics.js?v=0.5"></script>
<script src="zeroclipboard/ZeroClipboard.min.js"></script>
<script src="../../js/js.js?v=0.5"></script>
<script src="../../js/draw.js?v=0.5"></script>
<script src="../../js/buttons.js?v=0.53"></script>
<script src="../../js/onload.js?v=0.5"></script>
<script src="../../js/debugger.js"></script>
<script src="../../js/save_manager.js"></script>
<script src="../../js/sample_schedules.js"></script>
<script src="../../js/napchart.js"></script>
<script src="../../js/application.js"></script>
</body>
</html>