<!DOCTYPE html>
<html>
<head>
<title>Napchart - Polyphasic Sleep Planner</title>
<% include ../partials/head.ejs %>
</head>

<body>

<div class="top-nav grey">
    <div class="nav-wrapper topnav">
    <% include ../partials/logo.ejs %>
    <div class="btn waves-effect waves-light" id="saveButton"><i class="fa fa-link"></i> save</div>
    <div class=" btn history disabled" id="back"><i class="fa fa-undo"></i></div>
    <div class="btn history disabled" id="forward"><i class="fa fa-repeat"></i></div>

    <div id="navExtension">
        <input spellcheck="false" type="text" id="urlField" />
    </div>


<% //include ../partials/shareButtons.ejs %>

    </div>

</div>


	<% include ../partials/chart.ejs %>


<% include ../partials/footer.ejs %>

<!--<script src="js/hidpi-canvas.min.js"></script>-->



<script src="js/jquery-2.1.4.min.js"></script>

<script src="materialize/js/materialize.min.js"></script>


<script src="js/helpers.js"></script>
<script src="js/statistics.js"></script>
<script src="js/draw.js"></script>
<script src="js/server.js"></script>
<script src="js/animate.js"></script>
<script src="js/history.js"></script>
<script src="js/interactCanvas.js"></script>
<script src="js/formInput.js"></script>
<script src="js/dom.js"></script>
<script src="js/barhandler.js"></script>
<script src="js/sampleSchedules.js"></script>
<script src="js/napchartCore.js"></script>

<script src="js/application.js"></script>

</body>
</html>