<!DOCTYPE html>
<html ng-app='napchart'>
<head>
<% include ../partials/head.ejs %>
</head>

<body>
    <div id="debugger"></div>
<script>
window.ga=function(){};
</script>

<div id="messageBar">
<div id="innerMessageBar">

	<span id="logo"><a href="/">napchart</a></span>
<div id="saveform">
<div id="savebutton"><i id="saveicon" class="fa fa-link"></i>save</div>
<input spellcheck="false" value="napchart.com/fT6Ty" type="text" id="saveURL">
	<div id="copyLink"><i id="copyLinkIcon" class="fa fa-copy"></i></div>
    </div>
    
    <span id="shareButtons">
    <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </span>
    

<div class"shareButtons"></div>

</div>
</div>



</div>



<div id="wrapper-id" class="wrapper">
    <!-- wraps around all elements-->
	


	<% include ../../public/partials/chart.html %>

</div>
    <div id="footer">
<div id="innerFooter">
<script>
//obj=<%= chartid %>;
</script>
Created by me. Thanks to everyone who has given feedback. You can find me at reddit or twitter or even real life. Contact at own risk.
</div>
</div>

<!--<script src="../../js/hidpi-canvas.min.js"></script>-->

<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/controllers.js"></script>
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/helpers.js"></script>
<script src="../../js/statistics.js"></script>
<script src="../../js/draw.js"></script>
<script src="../../js/server.js"></script>
<script src="../../js/animate.js"></script>
<script src="../../js/interactCanvas.js"></script>
<script src="../../js/formInput.js"></script>
<script src="../../js/dom.js"></script>
<script src="../../js/barhandler.js"></script>
<script src="../../js/sampleSchedules.js"></script>
<script src="../../js/napchartCore.js"></script>
<script src="../../js/application.js"></script>
<script src="../../zeroclipboard/ZeroClipboard.min.js"></script>
</body>
</html>