<!DOCTYPE html>
<html>
<head>
<title>Napchart - Polyphasic Sleep Visualizer</title>
<% include ../partials/head.ejs %>
</head>

<body>
    <div id="debugger"></div>

<div id="messageBar">
<div id="innerMessageBar">

<% include ../partials/logo.ejs %>

<div id="saveform">
<div id="savebutton"><i id="saveicon" class="fa fa-link"></i>save</div>
<input spellcheck="false" value="napchart.com/fT6Ty" type="text" id="saveURL">
	<div id="copyLink"><i id="copyLinkIcon" class="fa fa-copy"></i></div>
    </div>
    
<% include ../partials/shareButtons.ejs %>


</div>
</div>





<div id="wrapper-id" class="wrapper">
    <!-- wraps around all elements-->

	<% include ../partials/chart.ejs %>

</div>
    <div id="footer">
<div id="innerFooter">
Created by me. Thanks to everyone who has given feedback. You can find me at reddit or twitter or even real life. Contact at own risk.
</div>
</div>

<!--<script src="../../js/hidpi-canvas.min.js"></script>-->

<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/helpers.js"></script>
<script src="../../js/statistics.js"></script>
<script src="../../js/draw.js"></script>
<script src="../../js/server.js"></script>
<script src="../../js/animate.js"></script>
<script src="../../js/interactCanvas.js"></script>
<script src="../../js/formInput.js"></script>
<script src="../../js/dom.js"></script>
<script src="../../js/barhandler.js"></script>
<script src="../../js/sampleSchedules.js"></script>
<script src="../../js/napchartCore.js"></script>
<script src="../../zeroclipboard/ZeroClipboard.min.js"></script>
</body>
</html>