<!DOCTYPE html>
<html>
<head>
    <title>Napchart</title>
    <% include ../partials/head.ejs %>

    <% if(url == 'www.napchart.com' || url == 'napchart.com'){ %>

    <% include ../partials/analytics.ejs %>

    <% } %>

</head>

<body>

    <div class="top-nav grey">
        <div class="nav-wrapper topnav">
            <div class="row">
                <div class="col s12 m3">
                    <% include ../partials/logo.ejs %>
                </div>
                <div class="col s12 m9">
                    <div class="btn waves-effect waves-light" id="saveButton"><i class="fa fa-link"></i> save</div>
                    <div class="btn history disabled" id="back"><i class="fa fa-undo"></i></div>
                    <div class="btn history disabled" id="forward"><i class="fa fa-repeat"></i></div>
                    <input spellcheck="false" type="text" id="urlField" />
                </div>
            </div>




            </div>
        </div>

        <% include ../partials/chart.ejs %>


        <% include ../partials/footer.ejs %>

        <!--<script src="js/hidpi-canvas.min.js"></script>-->



        <script src="js/jquery-2.1.4.min.js"></script>

        <script src="materialize/materialize.min.js"></script>


        
<!--        <script src="js/dest/napchart.min.js"></script> -->

        <script src="js/helpers.js"></script>
        <script src="js/statistics.js"></script>
        <script src="js/draw.js"></script>
        <script src="js/server.js"></script>
        <script src="js/animate.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/history.js"></script>
        <script src="js/interactCanvas.js"></script>
        <script src="js/formInput.js"></script>
        <script src="js/dom.js"></script>
        <script src="js/barhandler.js"></script>
        <script src="js/feedback.js"></script>
        <script src="js/textSerialize.js"></script>
        <script src="js/napchartCore.js"></script>
        <script src="js/application.js"></script>

       

    </body>
    </html>