<!DOCTYPE html>
<html>
<head>
<title>Napchart - Polyphasic Sleep Visualizer</title>
<% include ../partials/head.ejs %>
</head>

<body>
<nav class="top-nav">
    <div class="nav-wrapper">
    <% include ../partials/logo.ejs %>
    <div class="btn waves-effect waves-light"><i class="fa fa-copy left"></i>save</div>

    <!--<input spellcheck="false" value="napchart.com/fT6Ty" type="text" id="saveURL">
    <div id="copyLink"><i id="copyLinkIcon" class="fa fa-copy"></i></div>-->
    </div>

</nav>


    
<% include ../partials/shareButtons.ejs %>


</div>
</div>





<div id="wrapper-id" class="wrapper">
    <!-- wraps around all elements-->

	<% include ../partials/chart.ejs %>

</div>

<% include ../partials/footer.ejs %>

<!--<script src="js/hidpi-canvas.min.js"></script>-->

<script src="js/jquery-2.1.4.min.js"></script>

<script src="materialize/js/materialize.min.js"></script>


<script src="js/helpers.js"></script>
<script src="js/statistics.js"></script>
<script src="js/draw.js"></script>
<script src="js/server.js"></script>
<script src="js/animate.js"></script>
<script src="js/interactCanvas.js"></script>
<script src="js/formInput.js"></script>
<script src="js/dom.js"></script>
<script src="js/barhandler.js"></script>
<script src="js/sampleSchedules.js"></script>
<script src="js/napchartCore.js"></script>
<script src="zeroclipboard/ZeroClipboard.min.js"></script>
</body>
</html>