<!DOCTYPE html>
<html>
<head>
    <title>Napchart</title>
    <% include ../partials/head.ejs %>

    <% if(url == 'www.napchart.com' || url == 'napchart.com'){ %>

        <% include ../partials/analytics.ejs %>

    <% } %>

</head>

<body>




    <% if(chartid && chart){ %>

    <script>
    fromServer = {};
    fromServer.chartid = '<%= chartid %>';
    fromServer.data = <%- chart %>;
    fromServer.hasDatabase = <%= db %>;
    </script>

    <% } %>


    <div class="top-nav grey">
        <div class="nav-wrapper topnav">
            <div class="row">
                <div class="col s12 m3">
                    <div id="logo"><a href="/">napchart</a></div>
                </div>

                <% if (db) { %>
                <div class="col s12 m9">
                    <div class="btn waves-effect waves-light" id="saveButton"><i class="fa fa-link"></i> save</div>
                    <div class="btn history disabled" id="back"><i class="fa fa-undo"></i></div>
                    <div class="btn history disabled" id="forward"><i class="fa fa-repeat"></i></div>
                    <input spellcheck="false" type="text" id="urlField" />
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12" id="toolbar">
            <div class="btn waves-effect grey lighten-1 black-text" id="addNap">Nap <i class="fa fa-plus-square-o"></i></div>
            <div class="btn waves-effect grey lighten-1 black-text" id="addCore">Core <i class="fa fa-plus-square-o"></i></div>
            <div class="btn waves-effect waves-light grey darken-3 white-text" id="addBusy">Busy <i class="fa fa-plus-square-o"></i></div>
            <div id="removeAll" class="btn btn-flat waves-effect"><span class="hideSmall">Remove all </span><i class="fa fa-trash-o"></i></div>


        </div>
    </div>



    <div class="row">

        <div class="col s12 m2 l2 sampleSchedules-col">
            <div class="card stat-block transparent">
                <div id="sampleSchedules">
                    <div id="none" class=""></div>
                    <div id="scheduleIndicator"></div>
                    <div id="monophasic" class="sampleSchedule">Monophasic</div>
                    <div id='segmented' class='sampleSchedule'>Segmented</div>
                    <div id='siesta' class='sampleSchedule'>Siesta</div>
                    <div id='dualcore1' class='sampleSchedule'>Dual Core 1</div>
                    <div id='triphasic' class='sampleSchedule'>Triphasic</div>
                    <div id='everyman' class='sampleSchedule'>Everyman</div>
                    <div id='uberman' class='sampleSchedule'>Uberman</div>
                </div>
            </div>
        </div>

        <div id="canvasResizer" class="col s12 m6 l6">
                <canvas id="canvas">
                </canvas>
        </div>

        <div class="col s12 m4 l4">


            <div class="card stat-block" id="settings">
                <div class="card-headline">Settings</div>
                <div class="inner-card">

                    <!-- <div class="switch">
                        <label>
                        Link sleep
                          <input type="checkbox" id="moveSim">
                          <span class="lever"></span>
                        </label>
                    </div>

                    <div class="switch">
                        <label>
                        Dark-mode
                          <input type="checkbox" id="dark">
                          <span class="lever"></span>
                        </label>
                    </div> --> 
                    <div class="settingsElement">
                        <input type="checkbox" id="showAllElements" />
                        <label for="showAllElements">Show all elements</label>
                    </div>

                    <div class="settingsElement">
                        <input type="checkbox" id="moveSim" />
                        <label for="moveSim">Move sleep simoultanously</label>
                    </div>

                    <div class="settingsElement">
                        <input type="checkbox" id="snap5" />
                        <label for="snap5">Snap to five minutes</label>
                    </div>

                    <div class="settingsElement">
                        <input type="checkbox" id="snap10" />
                        <label for="snap10">Snap to ten minutes</label>
                    </div>

                    <div class="settingsElement">
                        <input type="checkbox" id="ampm" />
                        <label for="ampm">Display time as AM/PM</label>
                    </div>

                    <div class="settingsElement">
                        <label>Nap default duration <input id="napDuration" class="duration formInput" type="number" min="10" max="90" value="20"> min</label>
                    </div>


                </div>
            </div>


            <div id="formInputContainer"></div>

            



            

        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">

            <div class="card stat-block left">
                <div class="card-headline">Sleep time</div>
                <div class="inner-card">
                    <span class="stat-time sleep"></span>
                    <div class="stat-desc sleep"></div>
                </div>
            </div>

            
            <div class="card stat-block left">
                <div class="card-headline">Free time</div>
                <div class="inner-card">
                    <span class="stat-time free"></span>
                    <div class="stat-desc free"></div>
                </div>
            </div>



            <div class="card stat-block right feedback" id="feedback-card">

                <div class="card-headline">
                    <div id="question">Did this app work for you?</div>
                    <div id="thankyou" class="hidden">Thank you for your feedback</div>
                    <div id="feedback-error" class="hidden">Something went wrong. Please try again</div>
                </div>


                <div class="inner-card">
                    <div id="feedback-question">
                        <input type="radio" name="feedback" class="trigger feedback-radio" id="yes" value="yes"> <label for="yes">Yes</label>
                        <br>
                        <input type="radio" name="feedback" class="trigger feedback-radio" id="no" value="no"> <label for="no">No</label>
                    </div>
                </div>

                <div class="card-headline">
                    <div id="feedback-text-question" class="hidden">Issues, ideas or compliments:</div>
                </div>

                <div class="inner-card">
                    <div id="feedback-text">
                        <textarea></textarea>
                        <div id="send-feedback" class="btn-flat grey lighten-2 waves-effect">Send
                            <i class="fa fa-hand-o-right arm"></i>
                            <i class="fa fa-refresh fa-spin loading-wheel"></i>
                        </div>
                        <span id="feedback-devthanks" class="hidden">Thank you!</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4 right">


            <div class="card stat-block left">
                <div class="card-headline">Schedule:</div>
                <div class="inner-card">
                    <textarea  id="textSchedule" rows="4"  readonly></textarea>
                </div>
            </div>

            <div class="card stat-block left">
                <div class="card-headline">
                    News
                </div>
                <div class="inner-card">
                    <p>Thank you for all your feedback! Here are the things we are working on now:
                        <ul class="list">
                            <li>Dark mode</li>
                            <li><del>Preset sample schedules</del> <i class="fa fa-check"></i></li>
                            <li><del>Move all sleep simultaneously</del> <i class="fa fa-check"></i></li>
                            <li><del>Fix saving</del> <i class="fa fa-check"></i></li>
                            <li><del>Snap to every 5 minutes</del> <i class="fa fa-check"></i></li>
                            <li><del>Optional military time (AM/PM)</del> <i class="fa fa-check"></i></li>
                        </ul>
                    </div>
                </div>


            </div>




            <div class="col s12 m12 l4">


                <div class="card stat-block">
                    <div class="card-headline">About</div>
                    <div class="inner-card">
                        <p>
                            Napchart is a tool created for people that want to experiment with <i>polyphasic sleep</i>.
                        </p>

                        <p>
                            If you find this site useful, please consider donating to keep this site and me alive.
                        </p>


                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="JFJD33SUL9Z28">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                        </form>



                        <p>Bitcoin:
                            <script src="http://coinwidget.com/widget/coin.js"></script>
                            <script>
                            CoinWidgetCom.go({
                                wallet_address: "3BmHER1uxPyptxQvobMkn5mQ9FwuvGtaSr"
                                , currency: "bitcoin"
                                , counter: "hide"
                                , alignment: "bc"
                                , qrcode: true
                                , auto_show: false
                                , lbl_button: "Donate"
                                , lbl_address: "My Bitcoin Address:"
                                , lbl_count: "donations"
                                , lbl_amount: "BTC"
                            });
                            </script>
                        </p>

                    </div>
                </div>
            </div>



        </div>


        <% include ../partials/footer.ejs %>

        <% include ../partials/scripts.ejs %>





    </body>
    </html>
